
   
@{
   /* 
        if (ViewBag.LoggedIn == true)
        {
             <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Log out", "Logout", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            </ul>
        }*/
}

